.main {
  display: flex;
  padding: 0px 20px;
  margin: 0px 20px;
}
.about {
  background-color: aliceblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2 {
  margin-top: 15px;
}
.image img {
  object-fit: cover;
}
p,
strong {
  font-size: 16px;
  margin: 10px 0px;
}
strong {
  font-size: 18px;
  color: blueviolet;
}
/* tableau */
.team-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.team-table th,
.team-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.team-table thead {
  background-color: rgb(242, 232, 240);
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 0px;
  }
  .image,
  .about {
    width: 100%;
    box-sizing: border-box; /* évite que le padding dépasse */
  }
  .image img {
    width: 100%;
    height: auto;
    display: block; /* évite les espaces blancs indésirables */
  }
}
