main {
  margin: 40px 0px;
  display: flex;
  gap: 3%;
  align-items: center;
}
.banner {
  position: relative;
  justify-content: center;
  align-items: center;
}
form {
  flex: 1;
}
.banner img {
  position: relative;
  z-index: 1;
  display: block;
  object-fit: cover;
}
.banner-div {
  position: absolute;
  top: 0; /* positionne en haut du conteneur */
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 20px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .banner-div {
    left: 10%;
  }
  form {
    width: 80%;
  }
}
